<% @advertisements.each do |advertisement| %>
  <div class="border border-primary rounded m-2 p-2">
    <h3><%= advertisement.title %></h3>
    <p><%= advertisement.content %></p>
    <p>Created at: <%= advertisement.created_at %></p>
    <p class="d-inline-block border border-primary rounded pl-2 pr-2">Status: <%= advertisement.state.upcase %></p>

    <% if advertisement.draft? %>
      <div><%= link_to users_ad_status_path(user_id: current_user, status: 'new', id: advertisement.id), method: :put do %>
        <%= content_tag :span, 'Change to "NEW"', class: "btn btn-outline-success" %>
      <% end %></div>
    <% end %>

  </div>
<% end %>
