<% if can? :create, Advertisement %>
  <%= link_to new_advertisement_path do %>
    <%= content_tag :span, "Create new Advertisement", class: "btn btn-outline-success mt-1" %>
  <% end %>

  <div>
    <div class="d-inline-block border border-primary rounded mt-2 p-2">
      <h4 class="mt-2">Show your Advertisements with statuses:</h4>
      <p><%= link_to users_ad_statuses_path(user_id: current_user, status: 'draft') do %>
           <%= content_tag :span, "Draft", class: "btn btn-outline-secondary" %>
         <% end %>
         <%= link_to users_ad_statuses_path(user_id: current_user, status: 'new') do %>
           <%= content_tag :span, "New", class: "btn btn-outline-secondary" %>
         <% end %>
         <%= link_to do %>
           <%= content_tag :span, "Rejected", class: "btn btn-outline-secondary" %>
         <% end %>
         <%= link_to do %>
           <%= content_tag :span, "Approved", class: "btn btn-outline-secondary" %>
         <% end %>
         <%= link_to do %>
           <%= content_tag :span, "Published", class: "btn btn-outline-secondary" %>
         <% end %>
         <%= link_to do %>
           <%= content_tag :span, "Archived", class: "btn btn-outline-secondary" %>
         <% end %>
      </p>
    </div>
  </div>
<% end %>
