<p id="notice"><%= notice %></p>

<h3><%= @advertisement.title %></h3>
<p><%= @advertisement.content %></p>
<div>
  <% @advertisement.images.each do |image| %>
    <%= image_tag image.variant(resize: "300x300") %>
  <% end %>
</div>
<p class="mt-2"><%= @advertisement.state.created_at %></p>
<p><%= @advertisement.state.upcase %></p>
<p>Author: <%= @advertisement.user.name %> <%= @advertisement.user.surname %></p>

<% if can? :update, @advertisement %>
    <%= link_to edit_advertisement_path(@advertisement) do %>
      <%= content_tag :span, "Edit", class: "btn btn-outline-success mt-1" %>
    <% end %>
  <% end %>
<%= link_to 'Home page', advertisements_path %>
