<h3>Edit User:</h3>

<%= form_with(model: @user, url: admin_user_path, method: :put) do |form| %>

  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="">
    <%= form.label :name %><br />
    <%= form.text_field :name, autocomplete: "Name", required: 'required' %>
  </div>

  <div class="field">
    <%= form.label :surname %><br />
    <%= form.text_field :surname, autocomplete: "Surname", required: 'required' %>
  </div>

  <div class="field">
    <p>Role:</p>
    <div>
      <%= form.radio_button(:role, "guest") %>
      <%= form.label(:role_guest, "Guest") %>
    </div>
    <div>
      <%= form.radio_button(:role, "user") %>
      <%= form.label(:role_user, "User") %>
    </div>
    <div>
      <%= form.radio_button(:role, "admin") %>
      <%= form.label(:role_admin, "Admin") %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Edit", class: "btn btn-outline-success" %>
  </div>
<% end %>
