<div class="mt-2">
  <%= link_to new_admin_user_path do %>
    <%= content_tag :span, "Create new User", class: "btn btn-outline-success mt-1" %>
  <% end %>
</div>

<h3 class="mt-2">Users:</h3>

<% @users.each do |user| %>
  <div class="border border-primary rounded m-2 p-2">
    <p>Name: <%= user.name %></p>
    <p>Surname: <%= user.surname %></p>
    <p>Role: <%= user.role %></p>
    <p>Email: <%= user.email %></p>
    <p>Created at: <%= user.created_at %></p>

    <%= link_to admin_user_path(user) do %>
      <%= content_tag :span, "Show", class: "btn btn-outline-success mt-1" %>
    <% end %>

    <%= link_to edit_admin_user_path(user) do %>
      <%= content_tag :span, "Edit", class: "btn btn-outline-secondary mt-1" %>
    <% end %>

    <%= link_to admin_user_path(user), confirm: 'Are you sure?', method: :delete do %>
      <%= content_tag :span, "Delete", class: "btn btn-outline-danger mt-1" %>
    <% end %>
    <div class="mt-1"><%= link_to 'Home page', root_path %></div>
  </div>
<% end %>
