<h3>User id: <%= @user.id %></h3>

<p>Name: <%= @user.name %></p>
<p>Surname: <%= @user.surname %></p>
<p>Role: <%= @user.role %></p>
<p>Email: <%= @user.email %></p>
<p>Created at: <%= @user.created_at %></p>

<div>
  <%= link_to edit_admin_user_path(@user) do %>
    <%= content_tag :span, "Edit", class: "btn btn-outline-secondary mt-1" %>
  <% end %>

  <%= link_to admin_user_path(@user), confirm: 'Are you sure?', method: :delete do %>
    <%= content_tag :span, "Delete", class: "btn btn-outline-danger mt-1" %>
  <% end %>
</div>

<%= link_to 'Back to list of users', admin_users_path %>
