<!DOCTYPE html>
<html>
  <head>
    <title>ADS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container mt-5">
      <h1 class="text-center display-2">ADS</h1>
      <div class="text-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
